Repository thislooksfun/ecs, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, tests, tests/e2e, tests/unit, components, generators, lib, routes, theme, api, labeler, dependencies

.github/labeler.yml:

################
# CI / Testing #
################

# CI
ci: .github/**/*

# Tests
tests:
  - tests/**/*
  - jest.config.js
tests/e2e: tests/e2e/**/*
tests/unit: tests/unit/**/*

########
# Code #
########

components: src/components/**/*

generators:
  - scripts/generate.sh
  - src/**/.generate.js
  - src/**/.template

lib: src/lib/**/*

routes:
  - src/routes/**/*
  - "!src/routes/**/__layout.svelte"

theme:
  - src/theme/**/*
  - src/routes/**/__layout.svelte

api: src/routes/api/**/*

########
# Meta #
########

# Mark as 'frontend' if only svelte files were changed
frontend:
  - all: ["src/**/*.svelte"]

# Mark as 'backend' if at least one non-svelte src file changed
backend:
  - all: ["src/**/*"]
  - any: ["!src/**/*.svelte"]

########
# Misc #
########

labeler: .github/labeler.yml

dependencies:
  - package.json
  - package-lock.json

ci: install before cleaning
  .husky/post-checkout
Labels: routes

chore: update sveltekit
  package-lock.json
  package.json
  src/hooks.ts
Labels: routes, dependencies

ci: don't automatically generate before building
  .github/workflows/test.yaml
  package.json
Labels: ci, routes, dependencies

ci: fix generators not running if there is more than one
  scripts/generate.sh
Labels: generators, routes

chore: disable 'importHelpers' temporarily
  tsconfig.json
Labels: routes

refactor: rename 'color-error' to 'color-danger'
  src/theme/theme.svelte
Labels: routes, theme

refactor: move color-success to top of list
  src/theme/theme.svelte
Labels: routes, theme

feat: add color-bg-accent
  src/theme/theme.svelte
Labels: routes, theme

feat: add a basic button component
  src/theme/button.svelte
Labels: routes, theme

feat: add a basic character sheet template
  src/theme/characterSheet.svelte
Labels: routes, theme

feat: add a basic Character type
  src/lib/types.d.ts
Labels: lib, routes

feat: start work on a type for Earthdawn 4e characters
  src/types/systems/earthdawn/4e.d.ts
  svelte.config.js
  tsconfig.json
Labels: routes

feat: stub out a character endpoint
  src/lib/systems.ts
  src/routes/api/v1/character/[id].ts
Labels: lib, routes, api

feat: add the nav to the main layout
  src/routes/__layout.svelte
Labels: routes, theme

feat: start work on a nav header
  src/components/nav.svelte
Labels: components, routes

feat: add some helper blocks
  src/theme/blocks/block.svelte
  src/theme/blocks/labeledValue.svelte
  src/theme/blocks/titledPair.svelte
  src/theme/blocks/titledTriplet.svelte
Labels: routes, theme

feat: add many blocks for Earthdawn 4e
  src/theme/blocks/systems/earthdawn/4e/armor.svelte
  src/theme/blocks/systems/earthdawn/4e/defense.svelte
  src/theme/blocks/systems/earthdawn/4e/health.svelte
  src/theme/blocks/systems/earthdawn/4e/healthbar.svelte
  src/theme/blocks/systems/earthdawn/4e/shield.svelte
  src/theme/blocks/systems/earthdawn/4e/stats.svelte
  src/theme/labeledValue.svelte
Labels: routes, theme

feat: start work on an Earthdawn 4e character sheet
  src/routes/characters/earthdawn/4e/[id].svelte
Labels: routes

fix: make Prettier happy
  src/lib/systems.ts
Labels: lib, routes

chore: add security policy
  SECURITY.md
Labels: routes

chore: add funding links
  .github/FUNDING.yml
Labels: ci, routes

feat: tell the browser to default to dark mode
  src/app.html
Labels: routes

ci: switch away from deprecated codecov uploader
  .github/workflows/test.yaml
Labels: ci, routes
