Repository thislooksfun/ecs, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, tests, tests/e2e, tests/unit, components, generators, lib, routes, theme, api, labeler, dependencies

ci: test against node 16
  .github/workflows/test.yaml
Labels: ci, routes

fix: import from the right path
  src/hooks.ts
Labels: routes

feat: add a title to the main page
  src/routes/index.svelte
Labels: routes

chore(packages): mark tslib as a runtime dep
  package-lock.json
  package.json
Labels: routes, dependencies

chore: import the User type so it can be used
  src/lib/types.d.ts
Labels: lib, routes

refactor: add a generic buildKVPairs() helper
  src/lib/db/connection.ts
Labels: lib, routes

refactor: make $lib/util::post and ::get take fetch()
  src/components/auth/signInForm.svelte
  src/components/auth/signUpForm.svelte
  src/lib/clientUtil.ts
  src/lib/types.d.ts
  src/lib/util.ts
  src/routes/index.svelte
Labels: components, lib, routes

chore(db): add a helper for running UPDATE queries
  src/lib/db/connection.ts
Labels: lib, routes

chore(db/user): fetch and store email_verified
  src/lib/db/user.ts
Labels: lib, routes

chore(db/user): stub out sendEmail()
  src/lib/db/user.ts
Labels: lib, routes

chore(db/user): stub out sendVerificationEmail()
  src/lib/db/user.ts
Labels: lib, routes

feat(db/user): send a verification email after account creation
  src/lib/db/user.ts
Labels: lib, routes

chore(db/user): add a helper to update partial info
  src/lib/db/user.ts
Labels: lib, routes

chore(db/user): add a helper to update the user's email
  src/lib/db/user.ts
Labels: lib, routes

chore(db/user): add a helper to update the user's password
  src/lib/db/user.ts
Labels: lib, routes

chore(lib): add shared status
  src/lib/statuses.ts
Labels: lib, routes

feat(api): add a basic ping endpoint
  src/routes/api/v1/ping.ts
Labels: routes, api

feat(api): add /api/v1/me
  src/routes/api/v1/me/index.ts
Labels: routes, api

feat(api): add /api/v1/me/set/email
  src/routes/api/v1/me/set/email.ts
Labels: routes, api

feat(api): add /api/v1/me/set/password
  src/routes/api/v1/me/set/password.ts
Labels: routes, api

feat: add a very basic account viewing page
  src/routes/account.svelte
Labels: routes

refactor: strongly type api endpoints
  src/components/auth/signInForm.svelte
  src/components/auth/signUpForm.svelte
  src/lib/clientUtil.ts
  src/lib/statuses.ts
  src/lib/types.d.ts
  src/lib/util.ts
  src/routes/api/v1/_statuses.ts
  src/routes/api/v1/_types.d.ts
  src/routes/api/v1/auth/signin.ts
  src/routes/api/v1/auth/signout.ts
  src/routes/api/v1/auth/signup.ts
  src/routes/api/v1/me/index.ts
  src/routes/api/v1/me/set/email.ts
  src/routes/api/v1/me/set/password.ts
  src/routes/api/v1/ping.ts
  svelte.config.js
  tsconfig.json
Labels: components, lib, routes, api

refactor: remove unnecessary !!
  src/components/auth/signUpForm.svelte
Labels: components, routes

feat: display signin errors
  src/components/auth/signInForm.svelte
Labels: components, routes

docs: update README
  README.md
Labels: routes

chore: remove default values from sign in/up forms
  src/components/auth/signInForm.svelte
  src/components/auth/signUpForm.svelte
Labels: components, routes

fix: make validate() synchronous
  src/components/auth/signUpForm.svelte
Labels: components, routes

fix: clear errors if they no longer apply
  src/components/auth/signUpForm.svelte
Labels: components, routes

feat: validate the sign in form before submitting
  src/components/auth/signInForm.svelte
Labels: components, routes

fix: import ServerRequest
  src/routes/api/v1/_types.d.ts
Labels: routes, api

fix: mark body as required
  src/routes/api/v1/_statuses.ts
  src/routes/api/v1/_types.d.ts
Labels: routes, api

chore: add some sample data when recreating the database
  scripts/initdb.js
Labels: routes

chore: use 'text' instead of 'character varying'
  scripts/initdb.js
Labels: routes

fix: generate session tokens using crypto random (#5)
  package-lock.json
  package.json
  scripts/initdb.js
  src/lib/db/session.ts
Labels: lib, routes, dependencies

refactor: move environment parsing to helper file
  src/lib/db/connection.ts
  src/lib/env.ts
Labels: lib, routes

fix: sign session cookies (#5)
  package-lock.json
  package.json
  src/hooks.ts
  src/lib/env.ts
  src/routes/api/v1/auth/signin.ts
  src/routes/api/v1/auth/signup.ts
Labels: lib, routes, api, dependencies

refactor: fix the DatabaseUrl type
  src/lib/env.ts
Labels: lib, routes

feat: store when each session token was last used
  scripts/initdb.js
  src/hooks.ts
  src/lib/db/session.ts
Labels: lib, routes

refactor: rename Session -> ClientSession
  src/hooks.ts
  src/lib/clientUtil.ts
  src/lib/types.d.ts
Labels: lib, routes

chore: remove debug printout
  src/lib/db/connection.ts
Labels: lib, routes

.github/labeler.yml:

################
# CI / Testing #
################

# CI
ci: .github/**/*

# Tests
tests:
  - tests/**/*
  - jest.config.js
tests/e2e: tests/e2e/**/*
tests/unit: tests/unit/**/*

########
# Code #
########

components: src/components/**/*

generators:
  - scripts/generate.sh
  - src/**/.generate.js
  - src/**/.template

lib: src/lib/**/*

routes:
  - src/routes/**/*
  - "!src/routes/**/__layout.svelte"

theme:
  - src/theme/**/*
  - src/routes/**/__layout.svelte

api: src/routes/api/**/*

########
# Meta #
########

# Mark as 'frontend' if only svelte files were changed
frontend:
  - all: ["src/**/*.svelte"]

# Mark as 'backend' if at least one non-svelte src file changed
backend:
  - all: ["src/**/*"]
  - any: ["!src/**/*.svelte"]

########
# Misc #
########

labeler: .github/labeler.yml

dependencies:
  - package.json
  - package-lock.json
